/* a button at bottom right of the page */
.githubToolsButtonOnPage {
	z-index: 99999999999;
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 44px;
	height: 44px;
	background-color: magenta;
	border: 2px solid magenta;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 26px;
	border-radius: 50%;
	box-sizing: border-box;
}

/*
change github tab sizes from 8 🙄 to 4
https://github.com/isaacs/github/issues/170
*/
pre {
	-moz-tab-size: 4;
	tab-size: 4;
}
